/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,*::before,*::after {
  box-sizing: border-box;
  animation-fill-mode: none !important;
}
html {
  scroll-behavior: smooth;
}
a {
  color:white;
  text-decoration: none;
}
a:hover {
  color:white;
}
input[type="button"],input[type="submit"] {
  -webkit-appearance: none;
}
p {
  margin-bottom: 0 !important;
}
::-webkit-scrollbar {
  display: none;
}
.cursor-pointer {
  cursor: pointer
}
.d-n {
  display: none;
}
@media ( max-width: 767px) {
  :target{
    scroll-margin-top: 90px;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.5em;
  transition: all .3s;
    &:hover,
    &:active{
      box-shadow: inset 0px 0px 3px black;
    }
  }
button {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
button::after {
  border: none;
}
ul {
  margin-bottom: 0 !important;
}
