/*
首頁導引效果按鈕 start
*/
.slide-btn {
  width: 40px;
  height: 70px;
  border: solid 5px $base-color;
  border-radius: 20px;
  &::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 15px;
    border-radius: 2px;
    background-color: $base-color;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: arrow-btn 2s .3s infinite ease-in;
  }
}
@keyframes arrow-btn {
  0% {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: translate(-50%, 200%);
  }
}
/*
首頁導引效果按鈕 end
*/
/*
全局按鈕 start
*/
.tour-btn {
  display: inline-block;
  text-decoration: none;
  color: $base-color;
  border: 3px solid $base-color;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  transition: all .3s;
  cursor: pointer;
  &:active,
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: $base-color;
  }
}
/*
全局按鈕 end
*/
.arrowUp-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 10000;
}
@include media-breakpoint-down(md) {
  .slide-btn {
    width: 30px;
    height: 50px;
    border: solid 2px $base-color;
    &:after {
      content: '';
      width: 3px;
      height: 10px;
    }
  }
  .arrowUp-btn {
    width: 40px;
    height: 40px;
  }
  .tour-btn {
    font-size: 1rem;
  }
  .filp-btn {
    width: 35px;
    height: 35px;
  }
}
